In [3]:
from datetime import datetime
import sqlite3

connection = sqlite3.connect('Lab5q1.db')
cursor = connection.cursor()

cursor.execute("""CREATE TABLE recipes (
    name text,
    description text,
    category_id integer,
    chef_id text,
   created timestamp
)""")

time = datetime.now()
recipes = [
    ("paneer masala", "p m", 101, "BL00001", time),
    ("chicken masala", "c m", 102, "BL00002", time),
    ("butter naan", "chinese", 103, "BL00003", time),
]

cursor.executemany("INSERT INTO recipes VALUES (?, ?, ?, ?, ?)", recipes)

cursor.execute("SELECT * FROM recipes")
recipes = cursor.fetchall()
print(len(recipes))


cursor.execute("SELECT * FROM recipes WHERE description = 'chinese'")
recipes = cursor.fetchall()
print(len(recipes))


cursor.execute("SELECT category_id, name FROM recipes WHERE chef_id = 'BL00002'")
r = cursor.fetchall()
print(r)


cursor.execute("SELECT description FROM recipes WHERE name LIKE 'p%'")
d = cursor.fetchall()
print(d)


connection.commit()
connection.close()

3
1
[(102, 'chicken masala')]
[('p m',)]

In [4]:
import sqlite3
connection = sqlite3.connect('q2.db')
cursor = connection.cursor()

cursor.execute("CREATE TABLE movies (movie_id integer, movie_name text, genre text, language text, rating real)")

movies = [
    (101, "kgf2", "action", "hindi", 8.5),
    (102, "spiderman", "superhero", "english", 8.1),
    (103, "doctor strange", "mystic", "english", 8.7),
]

cursor.executemany("INSERT INTO movies VALUES (?, ?, ?, ?, ?)", movies)

cursor.execute("UPDATE movies SET rating = (rating + (rating * 0.1))")
cursor.execute("SELECT movie_name, rating from movies")
movies = cursor.fetchall()
print(movies)

cursor.execute("DELETE from movies WHERE movie_id = 102")
cursor.execute("SELECT * FROM movies")
d = cursor.fetchall()
print(d)

cursor.execute("SELECT movie_name, rating FROM movies WHERE rating > 3")
r = cursor.fetchall()
print(r)

connection.commit()
connection.close()

[('kgf2', 9.35), ('spiderman', 8.91), ('doctor strange', 9.569999999999999)]
[(101, 'kgf2', 'action', 'hindi', 9.35), (103, 'doctor strange', 'mystic', 'english', 9.569999999999999)]
[('kgf2', 9.35), ('doctor strange', 9.569999999999999)]

In [1]:
import sqlite3

connection = sqlite3.connect('q3.db')
cursor = connection.cursor()

cursor.execute("""CREATE TABLE orders (
    order_id integer PRIMARY KEY,
    product_id integer,
    unit_price integer,
    quantity integer
)""")

orders = [
    (101, 1, 450, 2), 
    (102, 2, 500, 3)
]

cursor.executemany("INSERT INTO orders VALUES (?, ?, ?, ?)", orders)

cursor.execute("""CREATE TABLE products (
    product_id integer PRIMARY KEY,
    product_name text,
    unit_price integer,
    supplier_id integer,
    package integer,
    order_id integer,
    FOREIGN KEY (order_id) REFERENCES orders (order_id)
)""")

products = [
    (1, "material ui", 450, 1, 5, 101),
    (2, "tailwind css", 500, 2, 6, 102)
]

cursor.executemany("INSERT INTO products VALUES (?, ?, ?, ?, ?, ?)", products)

cursor.execute("SELECT * FROM orders")
orders = cursor.fetchall()
cursor.execute("SELECT * FROM products")
products = cursor.fetchall()
print(orders)

print(products)


cursor.execute("SELECT product.package-orde.quantity FROM products product, orders orde WHERE product.order_id = orde.order_id")
products = cursor.fetchall()
print(products)

cursor.execute("SELECT unit_price FROM products ORDER BY supplier_id DESC")
products = cursor.fetchall()
print(products)

cursor.execute("SELECT product_name, supplier_id, order_id FROM products")
products = cursor.fetchall()
print(products)

connection.commit()
connection.close()

[(101, 1, 450, 2), (102, 2, 500, 3)]
[(1, 'material ui', 450, 1, 5, 101), (2, 'tailwind css', 500, 2, 6, 102)]
[(3,), (3,)]
[(500,), (450,)]
[('material ui', 1, 101), ('tailwind css', 2, 102)]

In [2]:
import sqlite3
connection = sqlite3.connect('q4.db')
cursor = connection.cursor()

cursor.execute("""CREATE TABLE jobs (
    job_id integer PRIMARY KEY,
    job_title text,
    min_salary integer,
    max_salary integer
)""")

jobs = [
    (1, "sde", 4000000, 6000000),
    (2, "waiter", 10000, 20000),
    (3, "electrical engineer", 1000000, 2500000)
]

cursor.executemany("INSERT INTO jobs VALUES (?, ?, ?, ?)", jobs)

cursor.execute("SELECT * FROM jobs")
jobs = cursor.fetchall()
print(jobs)

connection.commit()
connection.close()

[(1, 'sde', 4000000, 6000000), (2, 'waiter', 10000, 20000), (3, 'electrical engineer', 1000000, 2500000)]

In [3]:
import sqlite3
connection = sqlite3.connect('q5.db')
cursor = connection.cursor()

cursor.execute("""CREATE TABLE jobs (
    job_id integer PRIMARY KEY,
    job_title text,
    min_salary integer,
    max_salary integer
)""")

jobs = [
    (1, "sde", 4000000, 6000000),
    (2, "waiter", 10000, 20000),
    (3, "electrical engineer", 1000000, 2500000)
]

cursor.executemany("INSERT INTO jobs VALUES (?, ?, ?, ?)", jobs)

cursor.execute("""CREATE TABLE jobs_history (
    employee_id integer,
    start_date text,
    end_date text,
    department_id integer,
    job_id integer,
    FOREIGN KEY (job_id) REFERENCES jobs (job_id)
)""")

jobs_history = [
    (1, "2019-01-01", "2019-12-31", 101, 1),
    (2, "2019-01-01", "2019-12-31", 102, 2),
    (3, "2019-01-01", "2019-12-31", 103, 3)
]

cursor.executemany("INSERT INTO jobs_history VALUES (?, ?, ?, ?, ?)", jobs_history)

cursor.execute("SELECT * FROM jobs")
jobs = cursor.fetchall()
print(jobs)
cursor.execute("SELECT * FROM jobs_history")
jobs_history = cursor.fetchall()
print(jobs_history)

connection.commit()
connection.close()

OperationalError: table jobs already exists